<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='Bootcamp.base'}"/>
<sly data-sly-use.header="com.Bootcamp.core.models.FpModel"></sly>
<sly data-sly-list="${header.fieldList}">
       <div class="row">
              <div class="card flex-md-row mb-4 shadow-sm h-md-1200">
                     <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">${item.techtitle}</strong>
                            <h3 class="mb-0">
                                   <a class="text-dark" href="${item.feature}">Featured post</a>
                            </h3>
                            <div class="mb-1 text-muted">${item.postdate}</div>
                            <p class="card-text mb-auto">${item.desc}</p>
                            <a href="${item.link}">Continue reading</a>
                     </div>
                     <img class="card-img-right flex-auto d-none d-lg-block" src="${item.img}" alt="Card image cap" height="1200px" width="200px">
              </div>
       </div>
</sly>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
   